<a href="/posts/{{id}}">
<div class="product-card">
    <img class="thumbnail" src="../../{{thumbnails}}" width="200" height="200">
    <div class="product-info">
        <p class="product-title">{{title}}</p>
        <p class="product-date">{{createdAt}}</p>
        


     
      </div>
    </div>
