<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' type="text/css" href='/public/css/style.css' />
    <script defer src="/public/js/registration.js"></script>
    
 
    
  </head>
  <body>
    <div id="container">
{{#if (nonEmptyObject messages)}}
{{> flashmessage this}}
{{/if}}
{{>header}}

    {{>navbar}}

    {{{body}}}

    {{>footer}}
  </div>  
  </body>
</html>
