<main id="main-content">
      {{#each posts}}
      {{>card this}}
      {{/each}}
       <script>
   // Function to automatically remove flash message alerts after a specified time
   function removeFlashMessage() {
     const flashMessage = document.querySelector('.alert');


     if (flashMessage) {
       // Set the duration (in milliseconds) for the flash message to stay
       const duration = 3000; // 3 seconds


       // Remove the flash message after the specified duration
       setTimeout(() => {
         flashMessage.remove();
       }, duration);
     }
   }


   // Call the function to start the timer
   removeFlashMessage();
 </script>

</main>